<div class="row">
  <div class="col-xs-12">
    <app-shopping-edit ></app-shopping-edit>
    <hr>
    <h2>Ma liste d'achats</h2>
    <div class="list-group">
      <a class="list-group-item list-group-item-action"
         style="cursor:pointer;"
         (ingredientAdded)="onIngredientAdded()"
         [ngClass]="{'achat-item' : ingredientAdded}"
         *ngFor="let ingredient of ingredients; let i=index"
        (click)="onEditIngredient(i)"
      >
        {{ingredient.name}} ({{ingredient.quantity}}{{ingredient.unit}})  {{ingredientAdded}}
      </a>
    </div>
  </div>
</div>
